<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <!-- Entry arguments -->

    <arg name="map_path"/>

    <!-- Simulator Launcher -->

    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch">
    </include>

    <!-- Navigation Stack Launcher -->

    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
        <arg name="map_file" value="$(arg map_path)"/>
    </include>

    <!-- Infinite move_base controller -->

    <node pkg="controller_py" type="move_base_controller.py" name="move_base_controller_py"/>

</launch>